In [ ]:
import numpy as np
import pandas as pd

# 1. Data Aggregation

## 1.1. Aggregating Statistics

In [ ]:
a = [[76, 52, 57], [81, 73, 97], [90, 92, 80],
     [np.NaN, 73, 92],[81, np.NaN, 57], [65, 95, 61]]
df = pd.DataFrame(a, columns=['A','B','C'])
df

#### Aggregating Statistics, Column-wise, Single column

In [ ]:
df['A'].count()

In [ ]:
df['A'].sum()

In [ ]:
df['A'].mean()

In [ ]:
df['A'].min()

In [ ]:
df['A'].max()

In [ ]:
df['A'].median()

In [ ]:
df['A'].var()

In [ ]:
df['A'].std()

In [ ]:
df['A'].mode().iloc[0]

In [ ]:
df['A'].describe()

#### Aggregating Statistics, Column-wise, Multiple columns

In [ ]:
df[['A','C']].count()

In [ ]:
df[['A','C']].sum()

In [ ]:
df[['A','C']].mean()

In [ ]:
df[['A','C']].min()

In [ ]:
df[['A','C']].max()

In [ ]:
df[['A','C']].median()

In [ ]:
df[['A','C']].var()

In [ ]:
df[['A','C']].std()

In [ ]:
df[['A','C']].mode()

In [ ]:
df[['A','C']].describe()

#### Aggregating Statistics, Column-wise, All columns

In [ ]:
df.count()

In [ ]:
df.sum()

In [ ]:
df.mean()

In [ ]:
df.min()

In [ ]:
df.max()

In [ ]:
df.median()

In [ ]:
df.var()

In [ ]:
df.std()

In [ ]:
df.mode()

In [ ]:
df.describe()

#### Aggregating Statistics, Row-wise

In [ ]:
df.sum(axis=1)

In [ ]:
df.mean(axis=1)

In [ ]:
df.loc[2:3].mean(axis=1)

In [ ]:
df.iloc[3:5].mean(axis=1)

#### Aggregating Statistics, `agg()` function

`agg()` function allows us to aggregate using one or more operations over a specified axis

In [ ]:
df.agg(['sum','mean'])

In [ ]:
df.agg(['sum','mean'], axis=1)

In [ ]:
df.agg({'A': ['sum','min'], 'B': ['min', 'max']})

In [ ]:
df.agg(
    {
        "A": ["count", "sum"],
        "B": ["min", "max", "mean", "median"],
        "C": ["sum", "mean", "median"]
    }
)

## 1.2. Group By

Aggregating statistics grouped by category

The `groupby()` method is applied on one or more columns to make a group per category.

In a store, there are many items..
* An item has a **Type** and a **Color**

We have a dataset of items, with the **quantity** of each item

In [ ]:
data = [('S-56', 'A', 'Red',    234), ('S-57', 'A', 'Blue',   432),
        ('S-58', 'A', 'Orange', 902), ('S-59', 'A', 'Red',    340),
        ('S-60', 'B', 'Yellow', 253), ('S-61', 'B', 'Red',    232), 
        ('S-62', 'C', 'Green', 1042), ('S-63', 'C', 'Red',   1204),
        ('S-64', 'B', 'Yellow', 432), ('S-65', 'C', 'Green',  985)]
items = pd.DataFrame(data, columns=['item', 'type', 'color', 'quantity'])
items

**Question**. Find the sum of quantities for each Type

Approach:
1. Split the dataset into groups (per Type)
2. Apply `sum()` function to each group independently
3. Combine the results into a data structure

In [ ]:
items.groupby('type').sum()

**Question**. Find the sum of quantities for each Color

In [ ]:
items.groupby('color').sum()

**Question**. How many items are there of each Type?

In [ ]:
items.groupby('type').count()

In [ ]:
items.groupby('type').count()['item']

In [ ]:
items.groupby('type').count()['item'].reset_index()

`value_counts()` is a convenient shortcut to count the number of entries in each category

In [ ]:
items['type'].value_counts()

**Question**. How many items are there for each (Type,Color ) combination ?

In [ ]:
items.groupby(['type','color']).count()

In [ ]:
items.groupby(['type','color']).count()['item'].reset_index()

**Question**. Find the sum of quantities for each (Type,Color ) combination ?

In [ ]:
items.groupby(['type','color']).sum()

In [ ]:
items.groupby(['type','color']).sum().reset_index()

We can also choose to include NA in group keys or not by setting `dropna` parameter, the default setting is `True`

In [ ]:
l = [[1, 2, 3], [1, None, 4], [2, 1, 3], [1, 2, 2]]
df = pd.DataFrame(l, columns=["a", "b", "c"])
df

In [ ]:
df.groupby(by=["b"]).sum()

In [ ]:
df.groupby(by=["b"], dropna=False).sum()

### Contingency Table

In [ ]:
pd.crosstab(items['type'], items['color'])

# 2. Data Merging

### 2.1. Concat

In [ ]:
d1 = [('Operations',      2019, 35000),
      ('Research',        2019, 45000),
      ('Development',     2019, 45000),
      ('Human Resources', 2019, 25800)]
df1 = pd.DataFrame(d1, columns=('Department','Year','Budget'))
df1

In [ ]:
d2 = [('Operations',      2020, 36500),
      ('Research',        2020, 44000),
      ('Development',     2020, 55000),
      ('Human Resources', 2020, 37500)]
df2 = pd.DataFrame(d2, columns=('Department','Year','Budget'))
df2

In [ ]:
df = pd.concat([df1, df2])
df

In [ ]:
df = pd.concat([df1, df2], ignore_index=True)
df

In [ ]:
d3 = [('Operations',      2021, 44000, 'Dirk'),
      ('Research',        2021, 52000, 'Elisa'),
      ('Development',     2021, 37000, 'Jan'),
      ('Human Resources', 2021, 40500, 'Mary')]
df3 = pd.DataFrame(d3, columns=('Department','Year','Budget', 'Manager'))
df3

In [ ]:
df = pd.concat([df1, df2, df3], ignore_index=True)
df

In [ ]:
d1 = {'S1':[65, 80, 85], 'S2':[70, 90, 76]}
df1 = pd.DataFrame(d1, index = ['Math', 'Physics', 'English'])
df1

In [ ]:
d2 = {'S3':[53, 84, 95], 'S4':[72, 92, 63]}
df2 = pd.DataFrame(d2, index = ['Math', 'Physics', 'English'])
df2

In [ ]:
df = pd.concat([df1, df2], axis=1)
df

In [ ]:
d3 = {'S5':[69, 84, 77, 90], 'S6':[85, 72, 52, 69], 'S7':[33, 81, 65, 73]}
df3 = pd.DataFrame(d3, index = ['Math', 'Physics', 'History', 'English'])
df3

In [ ]:
df = pd.concat([df1, df2, df3], axis=1)
df

### 2.2. Merge (aka: join)

In [ ]:
cities = [('Munich','Germany'), ('Liverpool','UK'), ('Lyon','France'),
          ('Frankfurt','Germany'), ('Napoli','Italy'), ('London','UK')]
dfc = pd.DataFrame(cities, columns=['City','Country'])
dfc

In [ ]:
countries=[('Germany', 83783942, 357588), ('UK', 67886011, 242495),
           ('France', 65273511, 543940), ('Italy', 60317116, 301340)]
dfy = pd.DataFrame(countries, columns=['Country','Population','Area'])
dfy

In [ ]:
dfc.merge(dfy, on='Country')

In [ ]:
data1 = [('Steve','Frank'), ('Greg','Kim'), ('Greg','Phil'), 
         ('Frank','Andy'), ('Frank','Rob')]
dff = pd.DataFrame(data1, columns=['Father','Child'])
dff

In [ ]:
data2 = [('Lisa','Mary'), ('Lisa','Greg'), ('Anne','Kim'), 
         ('Anne','Phil'), ('Mary','Andy'), ('Mary','Rob')]
dfm = pd.DataFrame(data2, columns=['Mother','Child'])
dfm

In [ ]:
#### Inner join
dff.merge(dfm, on='Child')

In [ ]:
#### Left join
dff.merge(dfm, on='Child', how='left')

In [ ]:
# Right join
dff.merge(dfm, on='Child', how='right')

In [ ]:
# Outer join
dff.merge(dfm, on='Child', how='outer')

In [ ]:
data3 = [('Andy',27,21), ('Rob',25,15), ('Mary',55,42), ('Anne',50,35), 
         ('Phil',26,30), ('Greg',50,40), ('Frank',57,20), ('Kim',30,41), 
         ('Mike',85,35), ('Lisa',75,87), ('Steve',80,23)]
dfp = pd.DataFrame(data3, columns=['Name','Age','Income'])
dfp

In [ ]:
df = dfp.merge(dff, left_on='Name', right_on='Child')
df

In [ ]:
d1=[('S-56', 'A', 'Red',    234), ('S-57', 'A', 'Blue',   432),
    ('S-58', 'A', 'Orange', 902), ('S-59', 'A', 'Red',    340),
    ('S-60', 'B', 'Yellow', 253), ('S-61', 'B', 'Red',    232), 
    ('S-62', 'C', 'Green', 1042), ('S-63', 'C', 'Red',   1204),
    ('S-64', 'B', 'Yellow', 432), ('S-65', 'C', 'Green',  985)]
items = pd.DataFrame(d1, columns=['item', 'type', 'color', 'quantity'])
items

In [ ]:
d2 = [('A','Red',    34.50), ('A', 'Blue', 53.00), 
      ('A','Orange', 62.25), ('B', 'Yellow', 35.25),
      ('B', 'Red',   23.45), ('C', 'Red', 61.50),
      ('C', 'Green', 72.20)]
prices = pd.DataFrame(d2, columns=['type', 'color', 'price'])
prices

In [ ]:
df = items.merge(prices, on=['type','color'])
df

**Exercise** Find the total price of all items: sum(quantity * price)