In [1]:
import numpy as np
import pandas as pd

## Question 1.

Read the file `golf.csv` into a dataframe, print the shape and show the head

In [3]:
# write your code here
df = pd.read_csv('golf.csv')
print(df.shape)
df.head()

(14, 5)

    Outlook Temperature Humidity  Windy Play
0     sunny         hot     high  False   no
1     sunny         hot     high   True   no
2  overcast         hot     high  False  yes
3     rainy        mild     high  False  yes
4     rainy        cool   normal  False  yes

**Q1.1.** For each of the five columns, find its unique values

In [4]:
# write your code here
df['Outlook'].unique()

array(['sunny', 'overcast', 'rainy'], dtype=object)

In [5]:
# write your code here
df['Temperature'].unique()

array(['hot', 'mild', 'cool'], dtype=object)

In [6]:
# write your code here
df['Humidity'].unique()

array(['high', 'normal'], dtype=object)

In [7]:
# write your code here
df['Windy'].unique()

array([False,  True])

In [8]:
# write your code here
df['Play'].unique()

array(['no', 'yes'], dtype=object)

**Q1.2.** Select the rows where `Windy` is True

In [9]:
# write your code here
df.loc[df['Windy']==True]

     Outlook Temperature Humidity  Windy Play
1      sunny         hot     high   True   no
5      rainy        cool   normal   True   no
6   overcast        cool   normal   True  yes
10     sunny        mild   normal   True  yes
11  overcast        mild     high   True  yes
13     rainy        mild     high   True   no

**Q1.3.** Select the rows where `Temperature` is not `hot`

In [13]:
# write your code here
df.loc[df['Temperature'] != 'hot']

     Outlook Temperature Humidity  Windy Play
3      rainy        mild     high  False  yes
4      rainy        cool   normal  False  yes
5      rainy        cool   normal   True   no
6   overcast        cool   normal   True  yes
7      sunny        mild     high  False   no
8      sunny        cool   normal  False  yes
9      rainy        mild   normal  False  yes
10     sunny        mild   normal   True  yes
11  overcast        mild     high   True  yes
13     rainy        mild     high   True   no

**Q1.4.** Select the rows where `Temperature` is `hot` and `Humidity` is `high`

In [15]:
# write your code here
df.loc[(df['Temperature'] == 'hot') & (df['Humidity']=='high')]

    Outlook Temperature Humidity  Windy Play
0     sunny         hot     high  False   no
1     sunny         hot     high   True   no
2  overcast         hot     high  False  yes

**Q1.5.** Select the rows where `Outlook` is `overcast` and `Play` is `no`

In [17]:
# write your code here
df.loc[(df['Outlook'] == 'overcast') & (df['Play']=='no')]

Empty DataFrame
Columns: [Outlook, Temperature, Humidity, Windy, Play]
Index: []

**Q1.6.** Select a subset copmrising:
* the rows where `Play` is `no`, and 
* the columns `Windy` and `Humidity`

In [18]:
# write your code here
df.loc[df['Play']=='no',['Windy','Humidity']]

    Windy Humidity
0   False     high
1    True     high
5    True   normal
7   False     high
13   True     high

## Question 2.

Read the file `golf.csv` into a dataframe, print the shape and show the head

In [24]:
# write your code here
df = pd.read_csv('golf.csv')
print(df.shape)
df.head()

(14, 5)

    Outlook Temperature Humidity  Windy Play
0     sunny         hot     high  False   no
1     sunny         hot     high   True   no
2  overcast         hot     high  False  yes
3     rainy        mild     high  False  yes
4     rainy        cool   normal  False  yes

**Q2.1** Convert the column `Play` replacing `yes` by 1, and `no` by 0

In [26]:
# write your code here
# df['Play'].replace({'yes': 1, 'no': 0}, inplace = True)
df['Play'] = df['Play'].map({'yes': 1, 'no': 0})
df

     Outlook Temperature Humidity  Windy  Play
0      sunny         hot     high  False     0
1      sunny         hot     high   True     0
2   overcast         hot     high  False     1
3      rainy        mild     high  False     1
4      rainy        cool   normal  False     1
5      rainy        cool   normal   True     0
6   overcast        cool   normal   True     1
7      sunny        mild     high  False     0
8      sunny        cool   normal  False     1
9      rainy        mild   normal  False     1
10     sunny        mild   normal   True     1
11  overcast        mild     high   True     1
12  overcast         hot   normal  False     1
13     rainy        mild     high   True     0

**Q2.2.** Convert the column `Windy` replacing True by 1, and False by 0

In [27]:
# write your code here
df['Windy'].replace({True: 1, False: 0}, inplace = True)
df

     Outlook Temperature Humidity  Windy  Play
0      sunny         hot     high      0     0
1      sunny         hot     high      1     0
2   overcast         hot     high      0     1
3      rainy        mild     high      0     1
4      rainy        cool   normal      0     1
5      rainy        cool   normal      1     0
6   overcast        cool   normal      1     1
7      sunny        mild     high      0     0
8      sunny        cool   normal      0     1
9      rainy        mild   normal      0     1
10     sunny        mild   normal      1     1
11  overcast        mild     high      1     1
12  overcast         hot   normal      0     1
13     rainy        mild     high      1     0

**Q2.3.** Create a new column, call it `x`, whose values are:
* 1: if `Outlook` is `overcast`
* 0: otherwise

In [30]:
# write your code here
df['x'] = df.apply(lambda row: 1 if row['Outlook'] == 'overcast' else 0, axis = 1)
df

     Outlook Temperature Humidity  Windy  Play  x
0      sunny         hot     high      0     0  0
1      sunny         hot     high      1     0  0
2   overcast         hot     high      0     1  1
3      rainy        mild     high      0     1  0
4      rainy        cool   normal      0     1  0
5      rainy        cool   normal      1     0  0
6   overcast        cool   normal      1     1  1
7      sunny        mild     high      0     0  0
8      sunny        cool   normal      0     1  0
9      rainy        mild   normal      0     1  0
10     sunny        mild   normal      1     1  0
11  overcast        mild     high      1     1  1
12  overcast         hot   normal      0     1  1
13     rainy        mild     high      1     0  0

**Q2.4.** Create a new column, call it `y`, whose values are:
* 1: if `Outlook` is `rainy` and `Windy` is 0
* 0: otherwise

In [33]:
# write your code here
df['y'] = df.apply(lambda row: 1 if (row['Outlook'] == 'rainy') & (row['Windy'] ==0) else 0, axis = 1)
df

     Outlook Temperature Humidity  Windy  Play  x  y
0      sunny         hot     high      0     0  0  0
1      sunny         hot     high      1     0  0  0
2   overcast         hot     high      0     1  1  0
3      rainy        mild     high      0     1  0  1
4      rainy        cool   normal      0     1  0  1
5      rainy        cool   normal      1     0  0  0
6   overcast        cool   normal      1     1  1  0
7      sunny        mild     high      0     0  0  0
8      sunny        cool   normal      0     1  0  0
9      rainy        mild   normal      0     1  0  1
10     sunny        mild   normal      1     1  0  0
11  overcast        mild     high      1     1  1  0
12  overcast         hot   normal      0     1  1  0
13     rainy        mild     high      1     0  0  0

**Q2.5.** Create a new column, call it `z`, whose values are:
* 1: if `Outlook` is `sunny` and `Humidity` is `normal`
* 0: otherwise

In [35]:
# write your code here
df['z'] = df.apply(lambda row: 1 if (row['Outlook']=='sunny') & (row['Humidity']=='normal') else 0, axis = 1)
df

     Outlook Temperature Humidity  Windy  Play  x  y  z
0      sunny         hot     high      0     0  0  0  0
1      sunny         hot     high      1     0  0  0  0
2   overcast         hot     high      0     1  1  0  0
3      rainy        mild     high      0     1  0  1  0
4      rainy        cool   normal      0     1  0  1  0
5      rainy        cool   normal      1     0  0  0  0
6   overcast        cool   normal      1     1  1  0  0
7      sunny        mild     high      0     0  0  0  0
8      sunny        cool   normal      0     1  0  0  1
9      rainy        mild   normal      0     1  0  1  0
10     sunny        mild   normal      1     1  0  0  1
11  overcast        mild     high      1     1  1  0  0
12  overcast         hot   normal      0     1  1  0  0
13     rainy        mild     high      1     0  0  0  0

**Q2.6.** Create a new column, call it `a`, whose values are:
* 1: when any of the three new columns `x`, `y`, or `z` is 1 
* 0: otherwise (i.e., all the three columns are 0)

In [39]:
# write your code here
df['a'] = df.apply(lambda row: 1 if (row['x'] == 1) | (row ['y'] == 1) | (row ['z'] == 1) else 0, axis = 1)
df

     Outlook Temperature Humidity  Windy  Play  x  y  z  a
0      sunny         hot     high      0     0  0  0  0  0
1      sunny         hot     high      1     0  0  0  0  0
2   overcast         hot     high      0     1  1  0  0  1
3      rainy        mild     high      0     1  0  1  0  1
4      rainy        cool   normal      0     1  0  1  0  1
5      rainy        cool   normal      1     0  0  0  0  0
6   overcast        cool   normal      1     1  1  0  0  1
7      sunny        mild     high      0     0  0  0  0  0
8      sunny        cool   normal      0     1  0  0  1  1
9      rainy        mild   normal      0     1  0  1  0  1
10     sunny        mild   normal      1     1  0  0  1  1
11  overcast        mild     high      1     1  1  0  0  1
12  overcast         hot   normal      0     1  1  0  0  1
13     rainy        mild     high      1     0  0  0  0  0

**Q2.7.** Select the rows where the columns `Play` and `a` are not equal;

What do you find? 
What does that mean?

In [41]:
# write your code here
df.loc[df['Play'] != df['a']]

Empty DataFrame
Columns: [Outlook, Temperature, Humidity, Windy, Play, x, y, z, a]
Index: []



> Column **play** and column **a** have the same values. It tells us that we can play when atleast one of the following conditions are **True/1**.
1. The outlook is overcast
2. The outlook is rainy and it is not windy
3. The outlook is sunny and the humidity level is normal

## Question 3.

Read the `sales.csv` file into a DataFrame, print the shape and show the head

In [42]:
# write your code here
df = pd.read_csv('sales.csv')
print(df.shape)
df.head()

(100, 5)

     ID  product  quantity  month  year
0  s001   Tablet        60      1  2019
1  s002  Headset        77      1  2019
2  s003   Tablet        40      1  2019
3  s004  Headset        38      2  2019
4  s005  Printer        72      2  2019

In addition, we have the following dictionary which associates each product with a tuple comprising the buy unit price and the sell unit price of that product.

In [43]:
prices = {'Tablet':(420, 450), 
          'Headset':(80, 90), 
          'Printer':(160, 180), 
          'Monitor':(200, 230), 
          'Laptop':(1000, 1100)}

**Q3.1.** Create two columns in the DataFrame:
1. `buy_unit_price` which comprises the buy unit price of the product, and
2. `sell_unit_price` which comprises the sell unit price of the product

(Hint: you need to use lambda functions)

In [48]:
# write your code here
df['buy_unit_price'] = df.apply(lambda row: prices[row['product']][0], axis=1)
df['sell_unit_price'] = df.apply(lambda row: prices[row['product']][1], axis=1)
df.head()

     ID  product  quantity  month  year  buy_unit_price  sell_unit_price
0  s001   Tablet        60      1  2019             420              450
1  s002  Headset        77      1  2019              80               90
2  s003   Tablet        40      1  2019             420              450
3  s004  Headset        38      2  2019              80               90
4  s005  Printer        72      2  2019             160              180

**Q3.2.** Create other two columns in the DataFrame:

3. `buy_total` which comprises the quantity multiplied by the buy unit price of the product, and
4. `sell_total` which comprises the quantity multiplied by the sell unit price of the product.

In [50]:
# write your code here
df['buy_total'] = df['quantity']*df['buy_unit_price']
df['sell_total'] = df['quantity']*df['sell_unit_price']
df.head()

,ID,product,quantity,month,year,buy_unit_price,sell_unit_price,buy_total,sell_total
0,s001,Tablet,60,1,2019,420,450,25200,27000
1,s002,Headset,77,1,2019,80,90,6160,6930
2,s003,Tablet,40,1,2019,420,450,16800,18000
3,s004,Headset,38,2,2019,80,90,3040,3420
4,s005,Printer,72,2,2019,160,180,11520,12960

**Q3.3.** Now, create a column named `profit` which is the difference between the sell total and the buy total.

In [51]:
# write your code here
df['profit'] = df['sell_total'] - df['buy_total']
df.head()

,ID,product,quantity,month,year,buy_unit_price,sell_unit_price,buy_total,sell_total,profit
0,s001,Tablet,60,1,2019,420,450,25200,27000,1800
1,s002,Headset,77,1,2019,80,90,6160,6930,770
2,s003,Tablet,40,1,2019,420,450,16800,18000,1200
3,s004,Headset,38,2,2019,80,90,3040,3420,380
4,s005,Printer,72,2,2019,160,180,11520,12960,1440

**Q3.4.** Drop the columns `buy_unit_price` and `sell_unit_price`

In [65]:
# write your code here
df.drop(columns = ['buy_unit_price', 'sell_unit_price'], inplace=True)
df

      ID  product  quantity  month  year  buy_total  sell_total  profit
0   s001   Tablet        60      1  2019      25200       27000    1800
1   s002  Headset        77      1  2019       6160        6930     770
2   s003   Tablet        40      1  2019      16800       18000    1200
3   s004  Headset        38      2  2019       3040        3420     380
4   s005  Printer        72      2  2019      11520       12960    1440
..   ...      ...       ...    ...   ...        ...         ...     ...
95  s096  Monitor        74     10  2021      14800       17020    2220
96  s097  Printer        66     11  2021      10560       11880    1320
97  s098   Tablet        43     11  2021      18060       19350    1290
98  s099   Laptop        66     12  2021      66000       72600    6600
99  s100  Headset        80     12  2021       6400        7200     800

[100 rows x 8 columns]

**Q3.5.** Find the sum of profit in year 2020

In [56]:
# write your code here
df['profit'].sum()

244050

**Q3.6.** Find the average profit of Tablet products

In [66]:
# write your code here
df.loc[df['product'] == 'Tablet','profit'].mean()

2011.875